{
  "default-runtime": "nvidia",
  "runtimes": {
    "nvidia": {
      "path": "nvidia-container-runtime",
      "runtimeArgs": []
    }
  },
  "log-driver": "{{ logging_driver }}",
  "log-opts": {
    "max-size": "{{ logging_max_file }}",
    "max-file": "{{ logging_max_files }}"
  },
  "storage-driver": "overlay2",
  "live-restore": true,
  "max-concurrent-downloads": 5,
  "tcp-address": "127.0.0.1",
  "debug": false
}
